pkgbase = ttf-pixeloid
	pkgdesc = Pixeloid Font
	pkgver = 1.0
	pkgrel = 1
	url = https://www.fontspace.com/pixeloid-font-f69232
	install = ttf-pixeloid.install
	arch = any
	license = custom:OFL
	depends = fontconfig
	depends = xorg-font-utils
	source = pixeloid-font.zip::https://get.fontspace.co/download/family/mqz2e/acb0f928cbd14958935d2f02d7a6fa9a/pixeloid-font.zip
	sha256sums = 1fd3526d6258cf63622adb1548024b28ed7de109e56b5e7b510af365474ee9e8

pkgname = ttf-pixeloid
